

div.card{
    height: 600px;
  }
  #openNav{
    background-color: green;
    border-color:green;
    
  }
  /* The side navigation plane */
  .sidenav {
      height: 100%;
      width: 0; 
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #fff; 
      overflow-x: hidden; 
      padding-top: 60px; 
      transition: 0.5s; 
    }
    
    /* The navigation menu liist of muvies */
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    /* The close button to close the nagivation plane/menu */

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    

    #main {
      transition: margin-left .5s;
      padding: 20px;
    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

    /*In the case of a smaller screen (<450px), we adjust the font and padidng of the sidebar navigation plane */
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }